_Resharper.*
Starcraft2.ReplayParser/bin
Starcraft2.ReplayParser/obj
Starcraft2.ReplayParser.TestApplication/bin
Starcraft2.ReplayParser.TestApplication/obj
Starcraft2.ReplayParser.DataCompiler/bin
Starcraft2.ReplayParser.DataCompiler/obj
*.suo
*.ReSharper.user
*StyleCop.Cache
*.Resharper
*.dotCover
*.DotSettings
*.DotSettings.*
*.SC2Replay
*.7z
*.sql